html {
    font-size : 75%; 
}
 
@media screen and (min-width : 768px){
    html{ font-size : 87.5%; } 
}
 
@media screen and (min-width : 1024px) {
    html{ font-size : 100%; }
}

@font-face {
    font-family: '07LogoTypeGothic7';
    src: url(../font/07LogoTypeGothic7.ttf) format('truetype');
}

body {
    margin: 0px;
    -webkit-animation: backchange;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 60s;
}

@-webkit-keyframes backchange {
    0%, 100% {
        background-color: rgb(240, 240, 250);
    }
    
    50% {
        background-color: rgb(240, 255, 250);
    }
}

.titlebox {
    position: relative;
    top: 40px;
    font-family: 'Bubbler One', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: auto 0px auto 0px;
}

.header {
    position: fixed;
    font-family: 'Bubbler One', sans-serif;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    color: #222;
    z-index: 2;
}

.mainbox {
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 400px;
    top: 60px;
    margin: 0 auto 20px auto;
    padding-bottom: 20px;
    font-family: '07LogoTypeGothic7', sans-serif;
    font-size: 1.5rem;
    background-color: #eee;
    line-height: 50px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.mainbox .link {
    font-family: '07LogoTypeGothic7', sans-serif;;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: underline;
}

.sidebar {
    font-family: '07LogoTypeGothic7', sans-serif;;
    position: absolute;
    top: 20%;
    left: 2%;
}



.footer {
    position: fixed;
    bottom: 0px;
    background-color: rgb(50, 50, 50);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.menubox {
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Bubbler One', sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding: 0px 10px 0px 10px;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
}

.menubox span { 
    -webkit-transition: 0.5s;
    -webkit-animation-iteration-count: 1;
    cursor: pointer;
}

.menubox .intp { 
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: middle center;
    -webkit-animation-name: focusanim;
    -webkit-transition: 0.5s;
    cursor: default;
}

.menubox span:hover {
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: middle center;
    -webkit-animation-name: focusanim;
    -webkit-transition: 0.5s;
    position: relative;
    left: 0;
}

@-webkit-keyframes focusanim {
    0%, 100%{
        left: 0em;
        transparent: 1;
    }
    50% {
        color: rgba(0,0,0,0);
    }
}

.mainbox .canvasc {
    margin-left: auto;
    width: 100%;
}

a:link {
    color: #ff5555;
    font-style: normal;
    text-decoration: none;
}
a:visited {
    color: #ff5555;
    text-decoration: none;
}

table {
    border: 2px #000000 dotted;
}

caption {
    border: 2px #000000 dotted;
}

td {
    border: 1px #000000 solid;
}

.headtd {
    background-color: rgba(0, 0, 0, 0.1);
}