@import "styles/theme.scss";
.root {
  display: block;
}

.aboutTable {
  width: 100%;
  td,
  th {
    background-color: rgba($color: white, $alpha: 0.5);
  }
  th {
    border-right: 1px double #777;
  }
}

// write another class
