@import "styles/theme.scss";
.root {
  display: block;
  background-color: rgba($color: #aaa, $alpha: 0.8);
  min-width: 300px;
  max-width: 800px;
  min-height: 300px;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;

  .wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    width: calc(100% + 17px);

    @include mobile() {
      width: 100%;
    }

    .page {
      margin: 10px;
    }
  }
}

// write another class
